.posts{display:grid; gap:5rem; align-content:flex-start;}
.post > *:not(:last-child){margin-bottom:2rem;}
.post .thumbnail{width:100%; aspect-ratio:16/9; object-fit:cover; border-radius:.8rem;}
.post .content{display:grid; gap:2rem;}
.post .post-categories{margin:0; padding:0; list-style:none;}
.post .post-categories li a{color:#2075af;}
.post .content .post-categories li a:focus{color:var(--color-link-focus);}
.post .title{font-weight:500; border-radius:.4rem;}
.post .permalink:focus{outline:none; box-shadow:var(--main-link-outline-focus); display:inline;}
.post .permalink:focus .title{display:inline;}
.post > p{color:var(--color-main);}

@media(min-width:768px){
    
}