/* archive, tags, search, etc */
.posts{display:grid; gap:5rem; align-content:flex-start;}
.post > *:not(:last-child){margin-bottom:2rem;}
.post .thumbnail{width:100%; aspect-ratio:16/9; object-fit:cover; border-radius:.8rem;}
.post .content{display:grid; gap:2rem;}
.post .post-categories{margin:0; padding:0; list-style:none;}
.post .post-categories li a{color:#2075af;}
.post .content .post-categories li a:focus{color:var(--color-link-focus);}
.post .title{font-weight:500; border-radius:.4rem;}
.post .permalink{display:block;}
.post .permalink:focus{outline:none; box-shadow:var(--main-link-outline-focus); display:inline;}
.post .permalink:focus .title{display:inline;}
.post > p{color:var(--color-main);}

/* home posts */
.blog .posts{align-content:inherit; grid-template-columns:repeat(auto-fill, minmax(212px, 1fr)); gap:1rem; overflow:hidden;}
.blog .posts .home-post{overflow:hidden; border-radius:.8rem; background-color:orange;}
.blog .posts .home-post .thumbnail{}

@media(min-width:768px){
    /* archive, tags, search, etc */
    .post .thumbnail{margin-right:2rem; margin-bottom:0; float:left; max-width:300px;}

    /* home posts */
    .blog .posts .home-post:nth-child(1){grid-column:span 2; grid-row:span 2;}
    .blog .posts .home-post:nth-child(3){grid-row:span 2;}
    .blog .posts .home-post:nth-child(7){grid-column:span 2;}
    .blog .posts .home-post:nth-child(8){grid-column:span 2;}
}