#main > .container:nth-child(odd){background-color:#fff;}
#main > .container:nth-child(even){background-color:#f6f6f6;}
#main .container .section{color:var(--color-main);}
#main .container .section ul{margin:0; padding:0; list-style:none;}