/* inputs de entrada · nominal */
input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search],
textarea{
    border-radius:3px;
    border:1px solid var(--wp--preset--color--border);
    background-color:var(--wp--preset--color--background);
    font-family:var(--wp--preset--font-family--roboto);
    font-size:var(--wp--preset--font-size--medium);
    color:var(--wp--preset--color--text);
    width:100%;
    height:42px;
    padding:0 10px;
    border-radius:4px;transition:all .3s ease;
}
textarea{padding:10px;height:auto;}

/* inputs de entrada · placeholder */
input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=tel]::placeholder,
input[type=url]::placeholder,
input[type=search]::placeholder,
textarea::placeholder{
    font-size:var(--wp--preset--font-size--medium);
    font-family:var(--wp--preset--font-family--roboto);
    color:var(--wp--preset--color--attenuated);
    transition:all .3s ease;
}

/* inputs de entrada · hover */
input[type=text]:hover,
input[type=email]:hover,
input[type=tel]:hover,
input[type=url]:hover,
input[type=search]:hover,
textarea:hover{border:1px solid var(--wp--preset--color--border-hover);}

/* inputs de entrada · focus */
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=search]:focus,
textarea:focus{
    outline:none;
    border:1px solid var(--wp--preset--color--border-focus);
    box-shadow:var(--wp--preset--shadow--input);
}

/* formulario de cantidad · nominal */
input[type=number]{
    border:1px solid transparent;
    background-color:var(--wp--preset--color--background);
    font-family:var(--wp--preset--font-family--roboto);
    font-size:var(--wp--preset--font-size--medium);
    color:var(--wp--preset--color--text);
    height:42px;
    padding:0 10px;
    border-radius:4px;
    transition:all .3s ease;
}

/* formulario de cantidad · focus */
input[type=number]{
    outline:none;
}