/* formularios */
input[type=text],
input[type=email],
input[type=tel],
textarea{border:1px solid var(--border-color-input); background-color:var(--background-color-input); font-family:var(--wp--preset--font-family--system-font); font-size:1.7rem; color:var(--color-text); width:100%; height:4rem; padding:0 1rem; border-radius:.4rem; transition:all .3s ease-out;}
textarea{padding:1rem; height:auto;}
input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=tel]::placeholder,
textarea::placeholder{font-size:1.7rem; font-family:var(--wp--preset--font-family--system-font); transition:all .25s ease;}
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus{outline:none; border:1px solid var(--color-link-focus); box-shadow:var(--box-shadow-input-focus);}
input[type=submit],
button[type=submit]{
    position:relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: inline-flex;
    text-transform:lowercase;
    padding: 1.5rem 0.5rem 0.5rem 3.5rem;
    border-radius: 0.5rem;
    border: 1px solid #007ff0;
    background-color: #007ff0;
    color: #fff;
    font-size: 1.6rem;
    font-family: var(--wp--preset--font-family--system-font);
    box-shadow: rgba(255, 255, 255, .15) 0 -2px 0 inset,
                0 1px 1px hsl(0deg 0% 0% / 0.05),
                0 1px 2px hsl(0deg 0% 0% / 0.05),
                0 2px 4px hsl(0deg 0% 0% / 0.05),
                0 6px 8px hsl(0deg 0% 0% / 0.05),
                0 8px 16px hsl(0deg 0% 0% / 0.05);
    transition: all .3s ease;
}
input[type=submit]:hover{filter: brightness(1.2);}
input[type=submit]:active:hover{filter:brightness(1);}
input[type=submit]:active{box-shadow:rgba(0,0,0,.5) 0 3px 5px inset; transform: translateY(2px); border:1px solid rgba(0,0,0,.25);}

/* contact-form 7 */
.wpcf7-form{position:relative; display:grid; gap:1rem;}
.wpcf7-form p:has(label) label:has(span){display:grid; gap:.5rem;}
.wpcf7 form .wpcf7-response-output{margin: 0; border-radius:0.4rem; padding:1rem; background-color:#ffb900; color:#000;}