/* navegación de páginas */
.navigation.pagination .screen-reader-text{display:none;}
.navigation.pagination{display:grid; grid-gap:3rem; text-align:center; grid-column:1/-1;}
.woocommerce-pagination{grid-column:1/-1;}
.navigation.pagination .nav-links,
.woocommerce-pagination .page-numbers{display:flex; gap:1rem; justify-content:center;}
.navigation.pagination .nav-links .page-numbers,
.woocommerce-pagination .page-numbers li .page-numbers{display:grid; place-content:center; width:4.3rem; height:4.3rem; color:var(--color-text); border:1px solid var(--border-color-input); box-sizing:border-box; border-radius:.3rem; text-decoration:none; transition:all .25s ease;}
.navigation.pagination .nav-links .page-numbers.current,
.woocommerce-pagination .page-numbers li .page-numbers.current{background-color:var(--color-answer); border:1px solid var(--color-answer); color:#fff;}
.navigation.pagination .nav-links .page-numbers:hover,
.woocommerce-pagination .page-numbers li .page-numbers:hover{border:1px solid var(--color-answer); color:var(--color-answer);}
:is(.navigation.pagination .nav-links, .woocommerce-pagination .page-numbers) :is(.page-numbers.prev, .page-numbers.next){width:auto; padding:0 3rem;}
:is(.navigation.pagination .nav-links, .woocommerce-pagination .page-numbers) :is(.page-numbers.prev, .page-numbers.next):hover{border:1px solid var(--color-answer);}