#main .container .section{display:grid;gap:50px;grid-template-columns:var(--grid-template-columns--posts);}
#main .container .section .posts__wrapper{display:grid;gap:50px;}
#main .container .section .posts__wrapper .posts{display:grid;gap:50px;grid-template-columns:repeat(auto-fill, minmax(207px, 1fr));}