/* contenedor sidebar */
#main aside{display:grid;gap:50px;place-content:baseline;grid-template-columns:repeat(auto-fill, minmax(240px, 1fr));}
#main aside > div .title-wrapper{margin-bottom:20px;}
#main aside > div ul li:not(:last-child){border-bottom:1px solid var(--wp--preset--color--line);}
#main aside > div ul li a{display:flex;align-items:center;gap:7px;height:38px;color:var(--wp--preset--color--attenuated);transition:all .3s ease;}
#main aside > div ul li a{color:var(--wp--preset--color--text);}