/* contenedor sidebar */
#main aside{display:grid;gap:50px;place-content:baseline;grid-template-columns:repeat(auto-fill, minmax(240px, 1fr));}

/* sidebar del contenedor del título */
#main .header-post .section aside{grid-template-columns:1fr;grid-template-rows:1fr;gap:20px 50px;}

/* títulos */
#main aside > div .title-wrapper{margin-bottom:20px;}

/* listas */
#main aside > div ul li:not(:last-child){border-bottom:1px solid var(--wp--preset--color--line);}
#main aside > div ul li > a{display:flex;align-items:center;gap:7px;height:38px;color:var(--wp--preset--color--text-b);transition:all .3s ease;}
#main aside > div ul li > a:hover{color:var(--wp--preset--color--links);}

/* comentarios */
#main aside > div ul li.comment__wrapper:first-child{padding-top:0;}
#main aside > div ul li.comment__wrapper{padding:10px 0;padding-left:63px;position:relative;}
#main aside > div ul li.comment__wrapper:last-child{padding-bottom:0;}
#main aside > div ul li.comment__wrapper .avatar{position:absolute;top:10px;left:0;}
#main aside > div ul li.comment__wrapper .comment p{color:var(--wp--preset--color--text-b);}
#main aside > div ul li.comment__wrapper .comment p:not(:last-child){margin-bottom:10px;}

/* lista de contacto */
#main aside > div ul.address li{display:flex;align-items:center;gap:7px;color:var(--wp--preset--color--text-b);height:38px;}
#main aside > div ul.address li:last-child{padding-left:24px;}

/* sección de compartir artículo dentro de la cabecera del artículo */
#main .header-post .section aside .share{align-self:end;display:flex;gap:20px;line-height:1;justify-self:var(--justify-self--share);}
#main .header-post .section aside .share a:where(:not(.wp-element-button)):any-link{height:16px;}