/* contenedor sidebar */
#main aside{display:grid;gap:50px;place-content:baseline;grid-template-columns:repeat(auto-fill, minmax(240px, 1fr));}

/* títulos */
#main aside > div .title-wrapper{margin-bottom:20px;}

/* listas */
#main aside > div ul li:not(:last-child){border-bottom:1px solid var(--wp--preset--color--line);}
#main aside > div ul li > a{display:flex;align-items:center;gap:7px;height:38px;color:var(--wp--preset--color--attenuated);transition:all .3s ease;}
#main aside > div ul li > a:hover{color:var(--wp--preset--color--text);}

/* comentarios */
#main aside > div ul li.comment__wrapper{padding:10px 0;padding-left:63px;position:relative;}
#main aside > div ul li.comment__wrapper .avatar{position:absolute;top:10px;left:0;}
#main aside > div ul li.comment__wrapper .comment p:not(:last-child){margin-bottom:10px;}