/* cabecera */
.post-template-default main{padding-top:0;}
.title-section-wrapper{position:relative; padding-top:6rem; color:#fff;}
.background-blur{position:absolute; top:0; left:0; right:0; bottom:0;}
.title-section{position:relative;}
.title-section > *:not(:last-child, .publicate-date_widget){margin-bottom:2rem;}
.title-section .share-social{position:absolute; right:0; bottom:4rem;}

/* títulos */
.single-post .content > *:not(:last-child){margin-bottom:2rem;}
.single-post .content > .title-wrapper{margin-top:4rem; margin-bottom:3rem;}
/* tarjetas */
.single-post .content .card{position:relative; background-color:var(--background-card); padding:1rem 0; border-radius:.8rem; box-shadow:var(--card-shadow);}
.single-post .content .card:after{position:absolute; width:16px; height:16px; bottom:1rem; right:1rem;}
.single-post .content .card > *:not(ul,ol){max-width:100%; padding:0 1rem;}
.single-post .content .card > *:not(:last-child){margin-bottom:2rem;}
.single-post .content .card .title-wrapper{border-bottom:1px solid var(--background-note);}
.single-post .content .card .title-wrapper .title{font-weight:600;}
.single-post .content .card ul{padding:0 2.4rem;}
.single-post .content .card .note-wrapper{padding:0 1rem;}
.single-post .content .card .note{border-radius:.4rem;}
/* notas */
.single-post .content .note{padding:1rem; background-color:var(--background-note); border-radius:.8rem;}
/* código */
.single-post .content .wp-block-code > code{padding:1rem; border-radius:.8rem; background-color:var(--background-card);}
/* listas */
.single-post .content ul{margin:0; padding-left:1.4rem;}
/* tablas */
.single-post .content tbody td{border:none; font-size:1.4rem;}
.single-post .content tbody tr{border-radius:.8rem;}
.single-post .content tbody tr:nth-child(odd) td{background-color:var(--background-card);}

.single-post .content tbody td:nth-child(1){font-weight:600;}
.single-post .content .wp-block-table{display:grid; margin-top:3rem; margin-bottom:4rem;}
/* citas */
.single-post .content .wp-block-quote{margin-bottom:3rem;}
/* preguntas y respuestas */
.single-post .content .question{position:relative; border-radius:.8rem; background-color:var(--background-card); box-shadow:var(--card-shadow); overflow:hidden;}
.single-post .content .question:after{position:absolute; width:16px; height:16px; bottom:1rem; right:1rem;}
.single-post .content .question p{padding:1rem;}
.single-post .content .question :nth-child(1){background:var(--linear-gradient-question); font-size:1.4rem; font-weight:300;}
.single-post .content .question :nth-child(2){color:var(--color-answer);}

/* ajustes a wordpress */
.has-global-padding{padding-right:0; padding-left:0;}
/* ancho ajustado al máximo */
body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width:100%;}
/* código */
.wp-block-code{margin:0;}
.wp-block-code code{margin:0; overflow-y:hidden; overflow-wrap:inherit;}
.comments{position:relative;}
/* citas */
.wp-block-quote{position:relative; margin-left:0; margin-right:0; padding:1rem; border-radius:.8rem; background-color:var(--background-card); box-shadow:var(--card-shadow);}
.wp-block-quote:after{position:absolute; content:"\201D"; font-family:auto; font-size:4rem; top:1rem; right:.5rem;}
/* imágenes */
.wp-block-image.aligncenter{margin-inline:auto;}
.wp-block-image{position:relative;}
.wp-block-image:after{position:absolute; width:16px; height:16px; top:1rem; right:1rem;}
.wp-block-image img{border-radius:.8rem; border-bottom:2px solid rgba(0,0,0,0.14); box-shadow:var(--picture-shadow); background-color:var(--background-card);}
.wp-block-image figcaption{margin-top:0; margin-bottom:.8rem; font-size:1.4rem;}
/* tablas */
.wp-block-table .wp-element-caption{order:1; margin:.5rem 0; text-align:center; font-weight:600; font-size:var(--wp--preset--font-size--x-large);}
.wp-block-table table{order:2;}

@media screen and (min-width: 31px) and (max-width: 1023px){
    .wp-block-image img{width:100%;}
    .single-post .content tbody tr{display:grid;}
    .single-post .content tbody tr:nth-child(odd) td:first-child{border-radius:.8rem .8rem 0 0;}
    .single-post .content tbody tr:nth-child(odd) td:last-child{border-radius:0 0 .8rem .8rem;}
}

@media (min-width:1024px){
    .single-post .content tbody tr:nth-child(odd) td:first-child{border-radius:.8rem 0 0 .8rem;}
    .single-post .content tbody tr:nth-child(odd) td:last-child{border-radius:0 .8rem .8rem 0;}
}