/* cabecera */
.post-template-default main{padding-top:0;}
.title-section-wrapper{position:relative; padding-top:6rem; color:#fff;}
.background-blur{position:absolute; top:0; left:0; right:0; bottom:0;}
.title-section{position:relative;}
.title-section > *:not(:last-child, .publicate-date_widget){margin-bottom:2rem;}
.title-section .share-social{position:absolute; right:0; bottom:4rem;}

/* cuerpo */
.content-section .content > *:not(:last-child){margin-bottom:2rem;}
.single-post .content .card{background-color:var(--background-card); padding:1rem; border-radius:.8rem;}
.single-post .content .card > *{max-width:100%;}
.single-post .content .card > *:not(:last-child){margin-bottom:2rem;}
.single-post .content .card .title-wrapper{border-bottom:1px solid var(--background-note);}
.single-post .content .card .title-wrapper .title{font-weight:600;}
.single-post .content .card .note{border-radius:.4rem;}
.single-post .content .note{padding:1rem; background-color:var(--background-note); border-radius:.8rem;}
/* ajustes a wordpress */
body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width:100%;}