/* secciones */
#main .container .section{padding:25px 0;display:grid;gap:50px;grid-template-columns:var(--grid-template-columns--posts);}

/* E N C A B E Z A D O */
#main .header-post.container .section{gap:20px 50px;padding-top:50px;}
/* autor */
#main .header-post .section .author{position:relative;padding-left:63px;margin-top:10px;}
#main .header-post .section .author .avatar{position:absolute;top:0;left:0;border-radius:50%;background-color:#323232;}
#main .header-post .section .author .author-ocupation{font-size:var(--wp--preset--font-size--small);opacity:.5;}
/* fecha */
#main .header-post .section .date{line-height:1;margin-top:20px;opacity:.5;}

/* C U E R P O */
/* títulos */
.single-post .content > *:not(:last-child){margin-bottom:20px;}
.single-post .content > .title-wrapper{margin-top:40px;margin-bottom:30px;}
/* tarjetas */
.single-post .content .card{position:relative;background-color:var(--wp--preset--color--card);padding:10px 0;border-radius:3px;box-shadow:var(--wp--preset--shadow--card);}
.single-post .content .card:after{position:absolute;width:16px;height:16px;top:10px;right:10px;}
.single-post .content .card > *:not(ul,ol){max-width:100%; padding:0 10px;}
.single-post .content .card > *:not(:last-child){margin-bottom:20px;}
.single-post .content .card .title-wrapper{border-bottom:1px solid var(--wp--preset--color--line-card);}
.single-post .content .card .title-wrapper .title{font-weight:500;}
.single-post .content .card ul{padding:0 24px;}
.single-post .content .card .note-wrapper{padding:0 10px;}
.single-post .content .card .note{position:relative; padding:10px; background-color:var(--wp--preset--color--note-card); border-radius:4px; box-shadow:rgba(0,0,0,.15) 0 2px 4px inset;}
.single-post .content .card > .wp-block-katex-display-block > .katex-display{display:flex; justify-content:center; margin-bottom:40px;}
.single-post .content .card > .wp-block-katex-display-block > .katex-display > .katex{background-color:var(--wp--preset--color--card); padding:10px; border-radius:6px;}
.single-post .content .card .wp-block-table{margin-top:20px; margin-bottom:20px;}
.single-post .content .card .wp-block-table:last-child{margin-bottom:0;}
.single-post .content .card tbody tr:nth-child(odd) td:is(:first-child,:last-child){background-color:var(--wp--preset--color--card);}
.single-post .content .card tbody td .katex-display{margin:0;}
.single-post .content .card tbody td .katex-display > .katex{text-align:left;}
/* plugin enlighter */
.single-post .content .enlighter-code{overflow:scroll hidden;}
.single-post .content .enlighter-code .enlighter{width:200%;}
/* notas */
.single-post .content > .note{position:relative; padding:10px; background-color:var(--wp--preset--color--note); box-shadow:var(--wp--preset--shadow--card); border-radius:3px;}
.single-post .content .note:after{position:absolute; width:16px; height:16px; top:10px; right:10px;}
/* código */
.single-post .content .wp-block-code > code{position:relative; padding:10px; border-radius:3px; background-color:var(--wp--preset--color--card); box-shadow:var(--wp--preset--shadow--card);}
.single-post .content .wp-block-code > code:after{position:absolute; width:16px; height:16px; top:10px; right:10px;}
/* listas */
.single-post .content ul{margin:0; padding-left:14px;}
/* tablas */
.single-post .content tbody td{border:none; font-size:14px;}
.single-post .content .card tbody td{border:none; font-size:16px;}
.single-post .content tbody tr{border-radius:3px;}
.single-post .content tbody tr:nth-child(odd) td{background-color:var(--wp--preset--color--tabs);}

.single-post .content tbody td:nth-child(1){font-weight:600;}
.single-post .content .wp-block-table{display:grid; margin-top:30px; margin-bottom:40px;}
/* citas */
.single-post .content .wp-block-quote{margin-bottom:30px;}
/* preguntas y respuestas */
.single-post .content .question{position:relative; border-radius:3px; background-color:var(--wp--preset--color--question); box-shadow:var(--wp--preset--shadow--card); overflow:hidden;}
.single-post .content .question:after{position:absolute; width:16px; height:16px; top:10px; right:10px;}
.single-post .content .question p{padding:10px;}
.single-post .content .question > :nth-child(1){font-weight:300;}
.single-post .content .question > ol{padding:10px 10px 10px 26px; margin:0;}
.single-post .content .question > ol > li:not(:last-child){margin-bottom:10px;}
.single-post .content .question > ol > li > ul{font-size:14px; margin-top:10px;}
.single-post .content .question > ol > li > ul > li:not(:last-child){margin-bottom:7px;}
.single-post .content .question .function{display:inline-flex; flex-wrap:wrap; align-items:baseline; width:100%;}
.single-post .content .question .function .wp-block-katex-display-block .katex-display{color:var(--wp--preset--color--text); padding:0;}
.single-post .content .question .function p:last-child{padding-left:0;}
.single-post .content .question .wp-block-katex-display-block .katex-display{padding:0 10px;}
.single-post .content .question .wp-block-katex-display-block .katex-display > .katex{text-align:left;}
/* KaTeX */
.single-post .content > .wp-block-katex-display-block > .katex-display{margin-bottom:40px;}

/* ajustes a wordpress */
.has-global-padding{padding-right:0; padding-left:0;}
/* ancho ajustado al máximo */
body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width:100%;}
/* código */
.wp-block-code{margin:0;}
.wp-block-code code{margin:0; overflow-y:hidden; overflow-wrap:inherit;}
.comments{position:relative;}
/* citas */
.wp-block-quote{position:relative; margin-left:0; margin-right:0; padding:10px;padding-right:20px; border-radius:3px; background-color:var(--wp--preset--color--card); box-shadow:var(--wp--preset--shadow--card);}
.wp-block-quote:after{position:absolute; content:"\201D"; font-family:auto; font-size:40px; top:-5px; right:5px;}
/* imágenes */
.wp-block-image.aligncenter{margin-inline:auto;}
.wp-block-image{position:relative;}
.wp-block-image:after{position:absolute; width:16px; height:16px; top:10px; right:10px;}
.wp-block-image img{border-radius:3px; border-bottom:2px solid rgba(0,0,0,0.14); box-shadow:var(--picture-shadow); background-color:var(--wp--preset--color--card);}
.wp-block-image figcaption{margin-top:8px; margin-bottom:0; font-size:14px;}
/* tablas */
.wp-block-table .wp-element-caption{order:1; margin:5px 0; text-align:center; font-weight:600; font-size:var(--wp--preset--font-size--x-large);}
.wp-block-table table{order:2;}
/* function */
body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){margin-left:0!important; margin-right:0!important;}

/* C O M E N T A R I O S */
#main .comments-post.container{background-color:var(--wp--preset--color--background-b);}
/* Deja un comentario */
#reply-title{font-size:var(--wp--preset--font-size--large);font-weight:500;margin-bottom:30px;}
/* formulario de comentarios */
#commentform :is(.comment-notes,.comment-form-comment,.comment-form-author,.comment-form-email,.comment-form-url,.comment-form-cookies-consent){margin-bottom:20px;}
#commentform :is(.comment-notes,.comment-form-comment,.comment-form-author,.comment-form-email,.comment-form-url,.comment-form-cookies-consent) label{margin-bottom:5px;color:var(--wp--preset--color--text-b);}

@media screen and (min-width: 31px) and (max-width: 1023px){
    .wp-block-image img{width:100%;}
    .single-post .content tbody tr{display:grid;}
    .single-post .content tbody tr:nth-child(odd) td:first-child{border-radius:3px 3px 0 0;}
    .single-post .content .card tbody tr:nth-child(odd) td:last-child{border-radius:6px 6px 0 0;}
    .single-post .content tbody tr:nth-child(odd) td:last-child{border-radius:0 0 3px 3px;}
    .single-post .content .card tbody tr:nth-child(odd) td:last-child{border-radius:0 0 6px 6px;}
}

@media(min-width:768px){
    .title-section > .publicate-date_widget{margin-bottom:0;}
    .title-section .share-social{position:absolute; right:0; bottom:40px;}
}

@media (min-width:1024px){
    .single-post .content tbody tr:nth-child(odd) td:first-child{border-radius:3px 0 0 3px;}
    .single-post .content tbody tr:nth-child(odd) td:last-child{border-radius:0 3px 3px 0;}
    .single-post .content .card tbody tr:nth-child(odd) td:first-child{border-radius:6px 0 0 6px;}
    .single-post .content .card tbody tr:nth-child(odd) td:last-child{border-radius:0 6px 6px 0;}
}